@import '~bootstrap/dist/css/bootstrap.css';
.register{
    /* display :flex; */
    text-align: center;
    /* flex-direction: column; */
}
.title{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.consultancy{
    text-align: center;
}

.form-control12{
    width: 95%;
    margin-bottom: 20px;
    margin-left: 23px;
    display: flex;
}

.headers{
    margin-left: 10px;
}
